.login-textbox {
    -fx-background-color: white;
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 20;
    -fx-padding: 15;
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-color: #bfc3c7;
    -fx-border-radius: 3;
    -fx-text-fill: black;
    -fx-prompt-text-fill: #bfc3c7;
}

.login-pane {
    -fx-background-color: white;
}

.login-button {
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 20;
    -fx-background-color: #4680ff;
    -fx-background-radius: 3;
    -fx-padding: 10 30;
    -fx-text-fill: white;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.4), 10, 0.05, 0, 1);
}

.login-button:pressed {
    -fx-background-color: derive(#4680ff, -20%);
}